In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_predict
from sklearn.impute import SimpleImputer

In [18]:
from sklearn.base import BaseEstimator
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [19]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, HistGradientBoostingRegressor
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
import xgboost as xg
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import VotingRegressor, StackingRegressor

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [11]:
bloreRent = pd.read_csv('data/BangaloreHouseRentDtls.csv')
bloreRent.sample(10)

                     Locality MinPrice MaxPrice   AvgRent HouseType
661               Sidedahalli    10000      NaN     10000      2BHK
379                   Adugodi    14500    19500  16333.33      2BHK
704             Doddakannelli    26500      NaN     26500      3BHK
843            Murugesh Palya     7000     8000      7500      1BHK
700              Choodasandra     6500    15000    1062.5      2BHK
547                   Kodipur      NaN      NaN         -      2BHK
828  Chandra Layout Extension     8700      NaN      8700      1BHK
386             Bannerughatta    27000    30000     28500      3BHK
332                   Ejipura    50000    52000     51000      3BHK
606  Sarjapur Road Till Wipro      NaN      NaN         -      1BHK

In [12]:
bloreRent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Locality   1080 non-null   object
 1   MinPrice   857 non-null    object
 2   MaxPrice   533 non-null    object
 3   AvgRent    1080 non-null   object
 4   HouseType  1080 non-null   object
dtypes: object(5)
memory usage: 42.3+ KB

In [25]:
bloreRent['Locality'].value_counts()

Hulimavu                             6
Dasarahalli on Tumkur Road           6
Bommanahalli                         6
Hoskote                              6
JP Nagar Phase 7                     6
                                    ..
Malleswaram                          3
Anagalapura Near Hennur Main Road    3
JP Nagar Phase 9                     3
Vibhutipura                          3
Guddahatti                           3
Name: Locality, Length: 355, dtype: int64

In [29]:
bloreRent.loc[bloreRent['Locality'] == 'HSR Layout']

     Locality MinPrice MaxPrice   AvgRent HouseType
0  HSR Layout     5000    19300  12647.22      1BHK
1  HSR Layout    12000    40000  20455.28      2BHK
2  HSR Layout    18000    85000   4283.33      3BHK